/*Общий стиль для блоков контента*/
.info{
	background: #EFF3F7;
	margin-bottom: 25px;
	border-radius: 4px;
}
.info .info-header{
	display: inline-block;
	font-family: 'fira_sansbook';
	font-weight: normal;
	font-size: 27px;
	color: #3BA8C0;
	border-bottom: 2px #3BA8C0 solid;
	margin: 0 0 19px 0;
	padding: 12px 21px;
}
.info-body{
	padding-bottom: 68px;
}
/*Конец общего стиля*/

/*Основная информация*/

/*Аватар*/
.img-wrap{
	float: left;
	margin-top: 15px;
	margin-left: 55px;
}
.avatar-wrap{
	height: 142px;
	width: 142px;
	border-radius: 50% 50%;
	overflow: hidden;
	border: 5px solid #3ba8c0;
}
/*Конец аватар*/

/*Информация*/
.osnov-wrap{
	float: right;
	width: 400px;
}
.osnov-spisok{
	list-style: none;
	padding: 0;
	margin: 0;
}
.osnov-point{
	margin-bottom: 6px;
	margin-left: -21px;
}
.kto{
	float: left;
	font-family: 'fira_sansmedium';
	font-size: 17px;
}
.chto{
	font-family: 'fira_sansbook';
	font-weight: normal;
	font-size: 15px;
	max-width: 218px;
	overflow: hidden;
	padding-left: 20px;
	color: #5A636C;
}
/*Конец информация*/

/*Ключевые навыки*/
.navik-spisok{
	width: 224px;
	padding: 0;
	list-style: none;
}
.navik-spisok .navik-point{
	display: inline-block;
	font-family: 'ProximaNovaCondensedSemibold';
	color: white;
	background: #3ba8c0;
	background: -moz-linear-gradient(top,  #3ba8c0 0%, #3ba8c0 49%, #2e8ca2 50%, #2e8ca2 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3ba8c0), color-stop(49%,#3ba8c0), color-stop(50%,#2e8ca2), color-stop(99%,#2e8ca2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #3ba8c0 0%,#3ba8c0 49%,#2e8ca2 50%,#2e8ca2 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #3ba8c0 0%,#3ba8c0 49%,#2e8ca2 50%,#2e8ca2 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #3ba8c0 0%,#3ba8c0 49%,#2e8ca2 50%,#2e8ca2 99%); /* IE10+ */
	background: linear-gradient(to bottom,  #3ba8c0 0%,#3ba8c0 49%,#2e8ca2 50%,#2e8ca2 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ba8c0', endColorstr='#2e8ca2',GradientType=0 ); /* IE6-9 */
	border-radius: 4px;
	padding: 0 7px;
	margin-right: 6px;
	line-height: 1.2;
	min-width: 40px;
	text-align: center;
}
/* Конец Ключевые навыки*/
/*Конец Основная информация*/

/*Опыт работы и образование*/

.info-spisok{
	list-style: none;
	margin: 0 0 0 50px;
	padding: 0;
}
.info-point{
	padding: 0 0 0 76px;
	margin-bottom: 25px;
}
.info-point:last-child{
	margin-bottom: 0;
}
.info-spisok .gde{
	font-size: 16px;
	font-family: 'fira_sansbook';
}
.info-spisok .kogda{
	font-size: 15px;
	font-family: 'fira_sanslight';
	line-height: 1;
}
.info-spisok .icon-work{
	background: url(../img/portfel.png) 9px center no-repeat;
}
.info-spisok .icon-had{
	background: url(../img/college.png) 9px center no-repeat;
}
.info-spisok .icon-doc{
	background: url(../img/course.png) 17px center no-repeat;
}
/*Конец Опыт работы и образование*/